<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="SharePointUrl" value=""/>
    <add key="Username" value="azure\uneidel"/>
    <add key="Password" value=""/>
    <add key="DoclibName" value="Reuter"/>
    <add key="StoreFolder" value="c:\\foo"/>
    <add key="LCID" value="1033"/>
  </appSettings>
</configuration>